@model IEnumerable<EmployeesDetails.EmployeeDetail>

@{
    ViewBag.Title = "Index";
}

<h2>Employee Details</h2>

<p>
    @*@Html.ActionLink("Add New Employee", "Create")*@
</p>
<style>
    table {
        border-spacing: 0px;
        table-layout: fixed;
        margin-left: auto;
        margin-right: auto;
        width: 510px;
        
    }

    td {
        border: 1px solid #666;
        word-break: break-all;
    }
</style>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Mobile)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TechnicalSkills)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProjectDetails)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RelevantExperience)
        </th>
        <th>Actions</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Mobile)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TechnicalSkills)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProjectDetails)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RelevantExperience)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
            @*@Html.ActionLink("View Details", "Details", new { id=item.ID }) |*@
            @Html.ActionLink("Export To PDF", "PrintPartialViewToPdf", new { id = item.ID , style = "color: Red" }) |
            @*@Html.ActionLink("Delete", "Delete", new { id = item.ID })*@
        </td>
    </tr>
}

</table>
